* {
    font-family: RobotoMono Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.9);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    padding: 0;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 4px;
    color: #338899;
}

#tags button {
    padding: 0 4px;
    color: #338899;
}

#tags button.focused {
    background-color: rgba(33, 99, 110, 0.5);
    border: none;
    border-radius: 0;
    color: #338899;
}
